body {
    background-image: url("background.jpg");
   }

#mypic {
    max-width: 200px;
    height: auto;
    margin-right: 10px

}

h1 { 
    line-height: 100px;
    border-bottom: solid
}

.container {
    float: left;
    position: relative;
    border: solid;
    background: white;
    Width: 50%;
    left: 100px;
    top: 50px;
    padding: 100px;
}

#content {
    margin-top: 50px;

}

.portfoliopictures {
    margin: 50px 0px 0px 0px;
}

#portfoliomain {
    float: left;
    position: relative;
    border: solid;
    background: white;
    Width: 50%;
    left: 100px;
    top: 50px;
    padding: 100px;
}

@media screen and (max-width: 768px) {
    
body {
    background-image: url("background.jpg");
    width: 100%;
   }

#mypic {
    max-width: 100px;
    height: auto;
    margin-right: 10px;

}

h1 { 
    line-height: 100px;
    border-bottom: solid;
}

.container {
    float: left;
    position: absolute;;
    border: solid;
    background: white;
    Width: 100%;
    left: 0px;
    top: 50px;
    padding: 100px;
}

#content {
    margin-top: 50px;

}

#portfoliomain {
    float: left;
    position: absolute;;
    border: solid;
    background: white;
    Width: 100%;
    left: 0px;
    top: 50px;
    padding: 100px;
}